@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Roboto:wght@400;700&display=swap');



* {
  box-sizing: border-box;
}

:root{
  --blue: rgb(9, 122, 252);
  --light-blue: rgb(158, 212, 255);
  --red: rgb(228, 55, 25);
  --green: rgb(0, 145, 0);
  --yellow: #ded007;
  --orange: #de6f07;
  --black: #333;
}

@font-face {
  font-family: 'Uthman Naskh';
  src: local('KFGQPC Uthman Taha Naskh'),
    url(https://cdn.rawgit.com/mustafa0x/qpc-fonts/f93bf5f3/various-woff2/UthmanTN1%20Ver10.woff2) format('woff2'),
    url(https://cdn.rawgit.com/mustafa0x/qpc-fonts/f93bf5f3/various-woff/UthmanTN1%20Ver10.woff) format('woff');
}

@font-face {
  font-family: 'Digital-7 Mono Mono';
  font-style: normal;
  font-weight: normal;
  src: local('Digital-7 Mono Mono'), url('../fonts/digital-7-mono-cufonfonts-webfont/digital-7\ \(mono\).woff');
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

input[type="radio"], label{
  cursor: pointer;
}

/* utility */
.btn{
  cursor: pointer;
  border: none;
  border-radius: 3px;
}

.error-title{
  display: none;
  text-align: center;
  margin: 30px 30px;
}

.error{
  text-align: center;
  font-size: 2.5rem;
  /* border: #000 1px solid; */
  margin-bottom: 5px;
}

.pb-2{
  padding-bottom: 20px;
}

.mb-1{
  margin-bottom: 2px;
}

.mb-2{
  margin-bottom: 20px;
}
.mb-3{
  margin-bottom: 30px;
}
.mb-4{
  margin-bottom: 40px;
}
.mt-4{
  margin-top: 40px;
}

.hide{
  display: none;
}

.red{
  color: #fff;
  background-color: var(--red) !important;
}
.yellow{
  color: #000;
  font-weight: 700;
  background-color: var(--yellow) !important;
}
.black{
  color: #fff;
  background-color: var(--black) !important;
}

.red:hover {
  background-color: var(--red);
}

.blue{
  color: #fff;
  background-color: var(--blue) !important;
}

.blue:hover {
  background-color: var(--blue);
}

.green{
  color: #fff;
  background-color: var(--green) !important;
}

.green:hover {
  background-color: var(--green);
}

.box-sm{
  font-family: 'Uthman Naskh';
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  text-align: center;
  font-size: 2.5rem;
  width: 60px;
  height: 60px;
  transition: 0.1s ease-in;
  cursor: pointer;
  background-color: #fff;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.1s cubic-bezier(.25, .8, .25, 1);
}

.box-sm:hover{
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.box-sm span{
  font-size: .7rem;
  position: absolute;
  top: 2px;
  left: 2px;
}

.box-bg {
  font-family: 'Uthman Naskh';
  text-align: center;
  color: var(--blue);
  width: 88px;
  height: 88px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.box-bg.test-letter {
  display: flex;
  justify-content: center;
  align-items:center;
  width: 120px;
  height: 120px;
  padding-bottom: 8%;
  font-size: 5rem;
}

.correction-modal{
  display: none;
  width: 100%;
  height: 100%;
  color: #fff;
}

.correction-modal p{
  font-size: 1.2rem;
}

.correction-modal .box-sm {
  cursor:default;
  pointer-events: none;
}

.correction-modal .left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  width: 50%;
  height: 100%;
  background-color: #000;
}

.correction-modal .left .top,
.correction-modal .left .bottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.correction-section,
.choice{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.correction-modal .right{
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  background-color: #333;
}

.info{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  width: 85%;
}

.info button {
  text-align: center;
  color: #fff;
  width: 30%;
  height: 30px;
  padding: 20px 40px;
}

.info span{
  font-size: 1.3rem;
}

.errorInfo{
  margin-bottom: 8px;
}

.info img,
.errorInfo{
  width: 60%;
}

.okBtn{
  border: none;
  border-radius: 3px;
  width: 50%;
  padding: 20px 0;
  background-color: var(--blue);
  margin-top: 1.8rem;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.okBtn:hover {
  scale: 1.1;
}

.error-letter{
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 8px;
  color: #000;
}

.testLetterContainer{
  position: relative;
  color: #000;
}

.letterPos{
  position: absolute;
  top: 1px;
  left: 3px;
  font-size: 0.8rem;
  font-weight: 700;
}
.letterSound{
  position: absolute;
  top: 1px;
  right: 3px;
  font-size: 0.8rem;
  font-weight: 700;
}

.game-over{
  display: none;
}

/* container */
.body{
  position: relative;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding: 25px 50px 50px 50px;
  background-color: var(--light-blue);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
}

.timer-container{
  width: 100%;
  position: relative;
}

.timmer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
  color: var(--orange);
  font-family: 'Digital-7 Mono Mono';
  font-size: 1.3rem;
  font-weight: 700;
  margin: 0 auto;
  width: 68px;
  height: 25px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* End game */
.modal-container{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: .2s ease-in;
  z-index: 1;
}

.modal{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 300px;
  background-color: #fff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  z-index: 1;
}

.modal h1{
  font-family: 'Orbitron', sans-serif;
}

.modal-container .fa-xmark{
  position: absolute;
  top: 15px;
  right: 25px;
  cursor: pointer;
}

.btn-container{
  margin-top: 30px;
}

.lineUp {
  animation: 2s anim-lineUp ease-out infinite;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }

  20% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    transform: translateY(0%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

/* score */

.scoreBox span{
  padding: 2px;
}

.scoreBox div {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  margin-bottom: 7px;
  padding: 16px 30px;
  width: 35px;
  height: 35px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.scoreBox .correctScore{
  color: var(--green);
}
.scoreBox .wrongScore{
  color: var(--red);
}

.score-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
}

.result, .timeTaken{
  color: var(--red);
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'Orbitron', sans-serif;
}

/* top section */
.top-section{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 10px;
  padding: 20px;
  width: 100%;
}

.options{
  width: 110px;
  display: flex;
  flex-direction: column;
}

.radio-label{
  display: flex;
  justify-content: space-between;
}

.radio{
  margin-bottom: 7px;
  padding: 8.5px 10px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.radio:hover {
  background-color: rgb(240, 240, 240);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.correction{
  gap: .8rem;
  background-color: var(--red);
  color: #fff;
  display: none;
}
.answer{
  font-size: 4rem;
}

/* grids */
.alphabet-grid, .results-grid{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: .5rem;
  direction: rtl;
  width: 100%;
}

/* .results-grid {
  
} */

.count{
  color: var(--red);
  font-size: .7rem;
  font-weight: 800;
  padding: 2px 5px;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  right: 3px;
  background-color: #fff;
}


/* Media queries */

@media only screen and (max-width: 500px) {
  .container {
    margin-top: 70px;
    width: 95%;
    padding: 30px 0px;
  }

  .timmer {
    font-size: 1rem;
    width: 50px;
    height: 20px;
  }

  .top-section{
    width: 110%;
    margin-bottom: 0;
  }

  .alphabet-grid{
    width: 97%;
  }

  .box-sm{
    font-size: 1.8rem;
    width: 40px;
    height: 40px;
  }

  .error-title {
    margin: 20px 20px;
  }

  .modal{
    width: 97%;
    margin: 0 2px;
  }
}