@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

:root{
  --blue: rgb(9, 122, 252);
  --red: rgb(228, 55, 25);
  --green: rgb(0, 145, 0);
  --black: #333;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

label{
  cursor: pointer;
}

/* utility */
.btn{
  cursor: pointer;
  border: none;
  border-radius: 3px;
}

.error-title{
  display: none;
  text-align: center;
}

.pb-2{
  padding-bottom: 20px;
}

.mb-1{
  margin-bottom: 2px;
}

.mb-2{
  margin-bottom: 20px;
}
.mb-3{
  margin-bottom: 30px;
}
.mb-4{
  margin-bottom: 40px;
}
.mt-4{
  margin-top: 40px;
}

.red{
  color: #fff;
  background-color: var(--red) !important;
}
.black{
  color: #fff;
  background-color: var(--black) !important;
}

.red:hover {
  background-color: var(--red);
}

.blue{
  color: #fff;
  background-color: var(--blue) !important;
}

.blue:hover {
  background-color: var(--blue);
}

.green{
  color: #fff;
  background-color: var(--green) !important;
}

.green:hover {
  background-color: var(--green);
}

.box-sm{
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
  font-size: 2.5rem;
  width: 60px;
  height: 60px;
  transition: 0.1s ease-in;
  cursor: pointer;
  border: 2px solid #000;
  position: relative;
}

.box-sm span{
  font-size: .7rem;
  position: absolute;
  top: 2px;
  left: 2px;
}

.box-bg {
  align-self: center;
  text-align: center;
  color: var(--blue);
  width: 90px;
  height: 90px;
  margin: 50px auto 30px auto;
  border: 4px solid #000;
}

.box-bg.test-letter {
  font-size: 3.5rem;
}

/* container */
.body{
  position: relative;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* End game */
.end-game{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -150%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: .2s ease-in;
}

.modal{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 300px;
  background-color: #fff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  z-index: 1;
}

.modal h1{
  font-family: 'Orbitron', sans-serif;
}

.fa-xmark{
  position: absolute;
  top: 15px;
  right: 25px;
  cursor: pointer;
}

.btn-container{
  margin-top: 30px;
}

.lineUp {
  animation: 2s anim-lineUp ease-out infinite;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }

  20% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    transform: translateY(0%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

/* score */
.scoreBox{
  margin-top: 24px;
}
.scoreBox span{
  padding: 3px;
}

.scoreBox div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 5px;
  width: 30px;
  height: 30px;
  border: 2px solid #000;
}

.score-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
}

.result{
  color: var(--red);
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Orbitron', sans-serif;
}

/* top section */
.top-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options{
  width: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.radio-label{
  display: flex;
  justify-content: space-between;
  font-size: .8rem;
}

.radio{
  margin-bottom: 3px;
  border: 2px solid #000;
  padding: 2px 5px;
  width: 85%;
}

.radio:hover {
  border-color: var(--blue);
  font-weight: 700;
  background-color: rgb(240, 240, 240);
}

.correction{
  gap: .8rem;
  background-color: var(--red);
  color: #fff;
  display: none;
}
.answer{
  font-size: 4rem;
}

/* grids */
.alphabet-grid, .results-grid{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: .5rem;
  direction: rtl;
  width: 100%;
}

.count{
  color: var(--red);
  font-size: .6rem;
  font-weight: 800;
  padding: 2px 4px;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  right: 3px;
  background-color: #fff;
}

.box-sm:hover{
  border: 5px solid var(--blue);
}


/* Media queries */

@media only screen and (max-width: 500px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }

  .alphabet-grid{
    width: 90%;
  }

  .box-sm{
    font-size: 1.8rem;
    width: 40px;
    height: 40px;
  }
}